[core]
	excludesfile = /Users/sbi/.gitignore_global
	autocrlf = input
	hooksPath = /Users/sbi/.git-templates/hooks
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[user]
	name = Sascha Bieberstein
	email = sbi@scireum.de
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[alias]
	cleanup = !git branch --merged | grep  -v '\\*\\|develop|master' | xargs -n 1 git branch -d && git remote | xargs -n 1 git remote prune
	update = !git fetch origin develop && git merge origin/develop
	feature = "!f() { git checkout develop && git pull && git branch feature/sbi/$1 && git checkout feature/sbi/$1; }; f"
	st = status -s
	cl = clone
	ci = commit
	co = checkout
	br = branch
	sync = !git fetch upstream && git checkout master && git merge upstream/master
	tags = !git tag -l --sort=-creatordate --format='%(creatordate:short)|%(refname:short)'
[maintenance]
	repo = /Users/sbi/dev/oxomi
